@import "vars";

@mixin panel_style () {
    background-color: #ffffff;
    h2 {
        font-weight: 600;
    }
    li {
        display: block;
        text-decoration: none;
        padding: 5px;
    }
}
