/* Basic Styling */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FF7A4F;
}

p {
    display: block;
    font-size: 18px;
}

li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 65px;
    font-weight: 900;
    padding: 10px 0px 10px 20px;
    margin-bottom: 22px;
    
    color: #014780;
    background-color: #ffbb00;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;

    margin-bottom: 35px;
    text-align: center;
}

/* Yellow Underlines */
h3 {
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 35px;
    color: #0271CC;

    margin-bottom: 10px;
}

h3::before {
    content: "";
    display: block;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-color: #ffbb00;
    width: calc(100% + 5%);
    height: 35%;
    opacity: 1;
}

h3:hover::before {
    height: 75%;
    background-color: #ff2949;
}
/* Yellow underline END */



#wrap {
    font-family: 'Noto ;Sans HK', sans-serif;
    font-size: 18px;
    color: #038DFF; 
    background-image:url(lineborder.png);
    background-repeat: repeat-y;
    background-size: -45%;
}

#wrap {
    display: grid;
    grid-template-columns: 1fr 450px 450px 1fr;
    grid-auto-rows:minmax(auto);
    grid-template-areas:
    ". Header Header ."
    ". Profile Languages ."
    ". Academics WorkExperience ."
    ". Contact Contact .";    
}

.Academics, .WorkExperience {
    background-color: #FF7A4F;
}

.Academics li , .WorkExperience li {
    color: azure;
}

.Academics, .WorkExperience h5 {
    color: #014780;
}

.Contact p,a {
    font-size: 18px;
    color:#FF7A4F;   
}

.Header {
    grid-area: Header;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-end: span 2;
    padding: 30px;
}

.Profile {
    grid-area: Profile;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    padding: 30px;
}

.Languages {
    grid-area: Languages;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 30px;
}

.Contact {
    grid-area: Contact;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;

    padding: 30px;
}

.Academics {
    grid-area: Academics;
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 3;
    padding: 30px;
}

.WorkExperience {
    grid-area: WorkExperience;
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 3;
    padding: 30px;
}
.Skills {
    grid-area: Skills;
    grid-row-start: 5;
    grid-row-end: span 1;
    grid-column-start: 3;
    grid-column-end: 3;
    padding: 30px;
    text-align: justify;
}
